<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online test</title>
</head>
<body>
    <h1>online Test</h1>
    <form action="http://localhost:8000/OTS/test-result" method="post"></form>
       {%csrf_token %}
       {% for question in question %}
       <div class="question">
          <input type="hidden" name="qno{{question.qno}}" value="{{question.qno}}">
          <div class="que">
              {{question.que}}
          </div>
          <div class="option"><input type="redio" name="q{{question.qno}}" value="a">{{questions}}</div>
          <div class="option"><input type="redio" name="q{{question.qno}}" value="b">{{questions}}</div>
          <div class="option"><input type="redio" name="q{{question.qno}}" value="c">{{questions}}</div>
          <div class="option"><input type="redio" name="q{{question.qno}}" value="c">{{questions}}</div>
       </div>
       {% endfor %}
       <div>
        <input type="submit" value="Submit">
       </div>
    </form> 
 </body>
</html>